<div class="modal-header">
  <div class="modal-title">查看 {{ record.id }} 信息</div>
</div>
<nz-spin *ngIf="!sysDictionary" class="modal-spin"></nz-spin>
<div sv-container col="1" labelWidth="150" *ngIf="sysDictionary">
  <sv label="ID">{{ sysDictionary.id }}</sv>
  <sv label="编码">{{ sysDictionary.code }}</sv>
  <sv label="名称">{{ sysDictionary.name }}</sv>
  <sv label="备注">{{sysDictionary.remark}}</sv>
  <sv label="类型" ><nz-tag [nzColor]="sysDictionary.type.color">{{sysDictionary.type.text}}</nz-tag></sv>
  <sv label="状态" ><nz-tag [nzColor]="sysDictionary.status.color">{{sysDictionary.status.text}}</nz-tag></sv>
  <sv label="修改的日期时间">{{sysDictionary.updatedDateTime | _date: 'YYYY年MM月DD日HH时mm分ss秒'}}</sv>
  <sv label="创建的日期时间">{{sysDictionary.createdDateTime | _date: 'YYYY年MM月DD日HH时mm分ss秒'}}</sv>
</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
