<div class="modal-header">
  <div class="modal-title">编辑 {{ record.id }} 信息</div>
</div>
<nz-spin *ngIf="!sysMenuTreeNode" class="modal-spin"></nz-spin>

<nz-tree
    #nzTree
    nzCheckable
    nzShowLine
    nzExpandAll
    nzMultiple
    [nzData]="sysMenuTreeNode"
    [nzCheckedKeys]="checkedSysMenuIdList"
>
</nz-tree>

<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
  <button nz-button type="submit" nzType="primary" (click)="save()" [disabled]="" [nzLoading]="http.loading">保存</button>
</div>
